*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    font-family: Open Sans;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: inherit;
    color: inherit;
}

ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.75rem;
}
h4 {
    font-size: 3.5rem;
}
h5 {
    font-size: 3.25rem;
}
h6 {
    font-size: 3rem;
}
